extends layout
block content
  h2 New Idea
  div.form-group
    label(for="title") Title
    h4= idea.title
  div.form-group
    label(for="priority") Priority
    h4= idea.priority
  div.form-group
    label(for="status") Status
    h4= idea.status
  div.form-group
    label(for="body") Description
    h4!= idea.body
  if(idea.__iseditable)
    div.btn-group.pull-right
      a.btn.btn-default.btn-lg(href="/editidea/#{idea.__unid}") Edit
      button.btn.btn-danger.btn-lg(data-toggle="modal" data-target="#deletemodal") Delete
    div.modal.fade#deletemodal(tabindex="-1" role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title Delete Idea
          div.modal-body
            p Are you sure you want to delete this idea?
          div.modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
            a.btn.btn-danger(href="/deleteidea/#{idea.__unid}") Confirm
